{% extends "base.html" %}
{% block body %}
<section>
    

    <div>
      <h2 style="margin-left: 20px;">Playlist</h2>
      <hr>
      <ul id="playlist">

      </ul>
    </div>
    <div>
      <h2 style="margin-left: 20px;">Uploaded presentations</h2>
      <hr>
        <div>
            <ul class="sortableFiles" id="files">
                {% for item in files %}
                    <li class="playlist_item" id="{{item}}">
                      <ul class="files_ul">
                        <li class="files_li"><p class="playlist_title files_p">{{item}}</p></li>
                        <li class="files_li" style="float: right;"><a class="playlist_button files_a" href="topdownload/{{item}}" download>Download</a></li>
                        <li class="files_li" style="float: right;"><a class="playlist_button files_a" href="#" onclick="queue_file('{{item}}', 0);">Add to playlist</a></li>
                      </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>
      <ul>

      </ul>
    </div>

    <div class="light_gray">
      <h2 style="margin-left: 20px;">Upload presentation</h2>
      <hr>
      <div style="margin:40px">
        <div>
          <form method="post" action="/upload" enctype="multipart/form-data">
            <input type="file" name="file" class="upload_input">
            <button type="submit" value="Upload" class="upload_button">
                Upload file
            </button>
          </form>
        </div>

      </div>
      <hr>
    </div>
    <script type="text/javascript">

screen.lockOrientationUniversal = screen.lockOrientation || screen.mozLockOrientation || screen.msLockOrientation;

      if (screen.width <= 699) {
      console.log("mobile");
      };

    </script>
  
</section>
{% endblock %}