{% extends "base.html" %}
{% block body %}
<section>
    

    <div>
      <h2 style="margin-left: 20px;">Playlist</h2>
      <hr>
      <ul id="playlist">

      </ul>
    </div>
    <div>
      <h2 style="margin-left: 20px;">Uploaded presentations</h2>
      <hr>
      <ul>

      </ul>
    </div>

    <div class="light_gray">
      <hr>
      <div style="margin:40px">
        <div>
          <h2>Upload Presentation</h2>
        </div>

        <div>
          <form method="post" action="/upload" enctype="multipart/form-data">
            <input type="file" name="file" class="upload_input">
            <button type="submit" value="Upload" class="upload_button">
                Upload file
            </button>
          </form>
        </div>

      </div>
      <hr>
    </div>
    <script type="text/javascript">

screen.lockOrientationUniversal = screen.lockOrientation || screen.mozLockOrientation || screen.msLockOrientation;

      if (screen.width <= 699) {
      console.log("mobile");
      };

    </script>
  
</section>
{% endblock %}